<header translucent="true">
  <title> Pasantias </title>
</header>

<content fullscreen="true">
  <div class="centerh" *ngIf="emptyList">
    <div>
      <p class="center">No exiten pasantias por el momento</p>
    </div>
    <div>
      <ion-img class="image-empty" src="assets/img/inbox.png"></ion-img>
    </div>

  </div>
  <div *ngIf="loader;else showLoadPasantias">
    <div *ngFor="let pasantia of pasantias; let i = index">
      
      <!-- Internship element -->
      <div class="w3-row-padding">
        <div class="w3-third w3-container w3-margin-bottom">
          <img src="{{pasantia.logo}}" alt="Norway" style="width:100%" >
          <div class="w3-container w3-white">
            <p><b>{{pasantia.area}}</b></p>
            <p>{{pasantia.nombre}}</p>
            <div class="derecha">
              <button (click)="postular(pasantia)" mode="ios" size="small" color="dark">Postular</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <ng-template #showLoadPasantias>
    <div class="ion-padding custom-skeleton" *ngFor="let pasantia of [1,2,3,4,5,6]">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
  </ng-template>

</content>



<!-- Pagination -->
<div class="w3-center w3-padding-32">
  <div class="w3-bar">
    <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
    <a href="#" class="w3-bar-item w3-black w3-button">1</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
    <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
  </div>
</div>