<!DOCTYPE html>
<html>

<body class=" light-grey  content" style="max-width:1600px">
  <!-- Sidebar/menu -->
  <nav class="sidebar  collapse  white  animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class=" container text-teal">
      <h4><b>Menu</b></h4>
    </div>
    <div class="bar-block">
      <a (click)="showComponent(1)" class="bar-item  button  padding"><i
          class="fa fa-th-large fa-fw  margin-right"></i>LISTA DE LAS PASANTÍAS</a>
      <a (click)="showComponent(2)" class="ar-item  button  padding" ><i
          class="fa fa-user fa-fw  margin-right"></i>AGREGAR PASANTÍAS</a>
      <a href="#contact" (click)="logout()" class=" bar-item  button  padding"><i
          class="fa fa-envelope fa-fw  margin-right"></i>CERRAR SESIÓN</a>
    </div>
  </nav>

  <!-- !PAGE CONTENT! -->
  <div class=" main" style="margin-left:300px">

    <!-- Header -->
    <header id="portfolio">
      <div class=" container text-teal ">
        <h1><b>  Pasantías  </b></h1>
        <div class=" section  bottombar  padding-16">
        </div>
      </div>
    </header>


    <!-- Internship Grid-->
    <div [ngSwitch]="tabs">
      <a *ngSwitchCase=1> <tab1 (internshipTab1)="changeToTab3($event)"></tab1> </a>
      <a *ngSwitchCase=2> <tab2></tab2> </a>
      <a *ngSwitchCase=3> <tab3 [internshipInfo]="internshipInfoMP"></tab3> </a>
    </div>

    <!-- End page content -->
  </div>


</body>

</html>