<form class="contact-form" (submit)="sendEmail($event)">
  <div>
    <label position="stacked">Nombre</label>
    <input type="text" name="to_name" value="{{nombre}}" required>
  </div>

  <div>
    <label position="stacked">Correo empresa</label>
    <input type="email" name="email_to" value="{{correo}}" required>
  </div>
  <div>
    <label position="stacked">Telefono</label>
    <input type="number" name="phone" value="{{telefono}}" required>
  </div>
  <div>
    <label position="stacked">Mensage</label>
    <textarea type="number" name="message" value="{{mensaje}}" required></textarea>
  </div>
  <button class="center" mode="ios" size="small" color="dark" type="submit" value="Enviar postulacion">Enviar
    postulacion</button>
</form>