<!DOCTYPE html>
<html>

  <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Yo Pasante</title>
    <meta content="Hacemos simple el contacto humano entre empresas y estudiantes. Descarga nuestra app movil para android e iOS." name="description">


    <!-- Vendor CSS Files -->

    <!-- Template Main CSS File -->

   <head>
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
          <h1 class="text-light"><a href="https://yopasantebo.com/"><span>Yo Pasante</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->

      </div>

      <nav class="nav-menu d-none d-lg-block">
          <ul>
              <li class=""><a href="https://yopasantebo.com/#header">Inicio</a></li>
              <li class=""><a href="https://yopasantebo.com/#us">Nosotros</a></li>
              <li class=""><a href="https://yopasantebo.com/#features">Características</a></li>
              <li><a href="https://yopasantebo.com/#alliance">Alianzas</a></li>
              <li><a href="https://yopasantebo.com/#team">Equipo</a></li>
              <li><a href="https://yopasantebo.com/#pricing">Planes</a></li>
              <li><a href="https://yopasantebo.com/#contact">Contactanos</a></li>
              <li><a href="https://yopasantebo.com/login">Mi Empresa</a></li>

          </ul>
      </nav><!-- .nav-menu -->

  </div>
      <title>Login</title>
   </head>
   <body>

    <section id="hero">
    <div class="container">
      <div class="row">
          <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
              <div data-aos="zoom-out" class="aos-init aos-animate">
                  <h1> pasantias <span>Unete Ya!</span></h1>
                  <h2>Hacemos simple el contacto humano entre empresas y estudiantes.
                  Descarga nuestra app móvil para android e iOS.</h2>
                  <div class="text-center text-lg-left">
                      <a href="https://yopasantebo.com/#footer" class="btn-get-started scrollto">Acceder</a>

                  </div>
              </div>
          </div>
          <div class="col-lg-5 order-1 order-lg-2 hero-img aos-init aos-animate" data-aos="zoom-out" data-aos-delay="300">
              <img src="./Yo Pasante_files/img_4.png" class="img-fluid animated" alt="">

          </div>
      </div>
  </div>

  <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
          <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </path></defs>
      <g class="wave1">
          <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </use></g>
      <g class="wave2">
          <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </use></g>
      <g class="wave3">
          <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </use></g>
  </svg>
</section><!-- End Hero -->
  <main id="main">

    <!-- ======= us Section ======= -->
    <section id="us" class="about">
        <div class="container-fluid">



                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 aos-init aos-animate" data-aos="fade-left">
                    <h3>¿Quiénes Somos?</h3>
                    <p>Somos una startup comprometida con la agilización de la inserción laboral universitaria.<br>
                        Donde Las Empresas podrán publicar ofertas de pasantías de la manera tradicional;
                        así como también buscar al candidato ideal a través del MatchMaking.
                        Y Los Estudiantes podrán crear su primer curriculum estandarizado y tendrán la posibilidad de postular a ofertas de su interés,
                        así como ser contactados directamente por reclutadores de empresas.
                    </p>

                    <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-donate-blood"></i></div>
                        <h4 class="title"><a href="https://yopasantebo.com/">Misión</a></h4>
                        <p class="description">Brindar a los estudiantes que se encuentren egresados o en los últimos semestres de sus respectivas carreras,
                            herramientas de búsqueda de pasantías para facilitar la transición de la etapa universitaria a la laboral.
                        </p>
                    </div>

                    <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-glasses-alt"></i></div>
                        <h4 class="title"><a href="https://yopasantebo.com/">Visión</a></h4>
                        <p class="description">Ser el mejor nexo entre los estudiantes y empresas en cuanto a pasantías.
                            Alcanzar la atención de los estudiantes universitarios y empresas a nivel nacional.
                        </p>
                    </div>

                    <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-book-reader"></i></div>
                        <h4 class="title"><a href="https://yopasantebo.com/">Valores</a></h4>
                        <p class="description">Confianza, Compromiso, Trabajo en equipo, Colaboración, Innovación, Aprendizaje continuo.</p>
                    </div>

                </div>
            </div>


    </section><!-- End About Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="section-title aos-init aos-animate" data-aos="fade-up">
                <h2>Detalles</h2>
                <p>Características</p>
            </div>

            <div class="row aos-init aos-animate" data-aos="fade-left">
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="50">
                        <i class="ri-store-line" style="color: #ffbb2c;"></i>
                        <h3><a href="https://yopasantebo.com/">Publica tus ofertas de pasantías</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <i class="ri-database-2-line" style="color: #5578ff;"></i>
                        <h3><a href="https://yopasantebo.com/">Accede a la base de datos de curriculums</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="150">
                        <i class="ri-calendar-todo-line" style="color: #e80368;"></i>
                        <h3><a href="https://yopasantebo.com/"> Busca y contacta al candidato ideal</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                    <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                        <i class="ri-paint-brush-line" style="color: #e361ff;"></i>
                        <h3><a href="https://yopasantebo.com/">Datos filtrables</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="250">
                        <i class="ri-bar-chart-box-line" style="color: #47aeff;"></i>
                        <h3><a href="https://yopasantebo.com/">CV estandarizado</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                        <i class="ri-gradienter-line" style="color: #ffa76e;"></i>
                        <h3><a href="https://yopasantebo.com/">Feedback ágil</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->


</main><!-- End #main -->



     <button class="legend login" (click)="onLoginGoogle()" >Login Google</button>
   </body>
</html>
