<form [formGroup]="emailForm" class="centerspace" (submit)="sendEmail($event)">

  <mat-form-field >
    <mat-label>Nombre pansatía</mat-label>
    <input matInput placeholder="Nombre pansatía"
      formControlName="to_name"
      type="text"
      autocapitalize="off"
      autocomplete="off"
      autocorrect="off"

    >
    <mat-error  *ngIf="emailForm.invalid && (emailForm.dirty ||emailForm.touched )">Nombre es requerido</mat-error>
    <mat-error *ngIf="emailForm.errors.minlength">Nombre debe tener por lo menos 5 caracteres</mat-error>
  </mat-form-field>

</form>
<form  class="contact-form" >
  <div>
    <p position="stacked">Nombre</p>
    <input  type="text" name="to_name" value="{{nombre}}" required/>
  </div>

  <div>
    <p position="stacked">Correo empresa</p>
    <input   type="email" name="email_to" value="{{correo}}" disabled/>
  </div>
  <div>
    <p pposition="stacked">Telefono</p>
    <input   type="number" name="phone" value="{{telefono}}"  required/>
  </div>
  <div>
    <p position="stacked">Mensage</p>
    <input  name="message" value="{{mensaje}}" disabled/>
  </div>

  <button class="center"
  mode="ios"
  size="small"
  color="dark" type="submit" value="Enviar postulacion">Enviar postulacion</button>
</form>
