<div class="form-container">
<header translucent="true">
  <title> Subir pasantia </title>
</header>

<content padding>
  <div class="centerdiv">
    <form [formGroup]="loginForm" class="centerspace" (ngSubmit)="onResetForm()">


      <input type="text" class="input222" formControlName="nombre" placeholder="Nombre de pasantia">
      <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
        <div class="container-error-message" *ngIf="nombre.errors.required">
          Nombre es requerido
        </div>
        <div class="container-error-message" *ngIf="nombre.errors.minlength">
          Debe tener 5 caracteres o mas
        </div>
      </div>

      <input type="text"  class="input222" formControlName="empresa" placeholder="Nombre de empresa">
      <div class="alert alert-danger" *ngIf="empresa.invalid && (empresa.dirty || empresa.touched)">
        <div class="container-error-message" *ngIf="empresa.errors.required">
          Empresa es requerido
        </div>
        <div class="container-error-message" *ngIf="empresa.errors.minlength">
          Debe tener 5 caracteres o mas
        </div>
      </div>

      <input type="text" class="input222" formControlName="requisistos" placeholder="Requisitos de pasantia">
      <div class="alert alert-danger" *ngIf="requisistos.invalid && (requisistos.dirty || requisistos.touched)">
        <div class="container-error-message" *ngIf="requisistos.errors.required">
          Requisitos es requerido
        </div>
        <div class="container-error-message" *ngIf="requisistos.errors.minlength">
          Debe tener 5 caracteres o mas
        </div>
      </div>


      <input type="text" class="input222" formControlName="correo" placeholder="Correo de pasantia">
      <div class="alert alert-danger" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
        <div class="container-error-message" *ngIf="correo.errors.required">
          Correo es requerido
        </div>
        <div class="container-error-message" *ngIf="correo.errors.minlength">
          Debe tener 5 caracteres o mas
        </div>
        <div class="container-error-message" *ngIf="(correo.dirty || correo.touched) && correo.invalid && correo.errors.pattern">
          Ingresa un correo valido
        </div>
      </div>

      <input type="text" class="input222" formControlName="area" placeholder="Carrera">
      <div class="alert alert-danger" *ngIf="area.invalid && (area.dirty || area.touched)">
        <div class="container-error-message" *ngIf="area.errors.required">
          Carrera es requerido
        </div>
        <div class="container-error-message" *ngIf="area.errors.minlength">
          Debe tener 5 caracteres o mas
        </div>
      </div>



      <img src="assets/img/photo.png">


      <input type="text" class="input222" formControlName="logo" placeholder="Logo de pasantia">
      <div class="alert alert-danger" *ngIf="logo.invalid && (logo.dirty || logo.touched)">
        <div class="container-error-message" *ngIf="logo.errors.required">
          Logo es requerido
        </div>
        <div class="container-error-message" *ngIf="logo.errors.minlength">
          Debe tener 5 caracteres o mas
        </div>
      </div>


      <button (click)="guardarPasantia()" class="botonpublicar" mode="ios" size="small" color="dark"
        [disabled]="loginForm.invalid">Publicar pasantia</button>

    </form>
  </div>

</content>
</div>
